nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    height: 72px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
    cursor: pointer;
    font-weight: 600;
}
nav ul li{
    padding: 8px;
}
nav ul li:hover{
    border: 1px solid rgb(171, 171, 171);
    box-shadow: inset 2px 2px 4px #a41900;
}